E2E_BASE_URL=http://127.0.0.1:3000
E2E_API_URL=http://127.0.0.1:8000/api/v1

E2E_ADMIN_EMAIL=admin@emi.test
E2E_ADMIN_PASSWORD=12345678

E2E_TEACHER_EMAIL=teacher@emi.test
E2E_TEACHER_PASSWORD=12345678

E2E_STUDENT_EMAIL=student@emi.test
E2E_STUDENT_PASSWORD=12345678
